* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 99;
}
/* Header Styling */
.header{
    width: 100%;
    background-color: #688db3 ;
    top: 0; 
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 10;
}

/* kode css navigator */ 
ul{
    list-style-type: none;
    margin:0px ;
    padding:0px;
    display: flex;
    justify-content: space-evenly;
}

ul li{
    height: 60px;
    padding: 10px 8px;
}

ul li a{
    padding: 10px 0px;
    text-align: center;
}

ul a:hover{
    background-color: rgb(113, 151, 181);
}

/* kode css dropdown */
ul li ul.dropdown{
    background-color: rgb(113, 151, 181);
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

ul li:hover ul.dropdown{
    display: block;
}

/* kode css sidebar */
.column {
    padding: 0px 10px;
}
.column.center {
    margin-top: 250px;
}

.column center{
    transition: transform 0.3s ease-in-out;
}